body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.content {
  padding: 2rem;
  min-height: 100vh;
  background: #f1f1f1;
  margin-left: 0;
}
@media (min-width: 1024px) {
  .content {
    margin-left: 220px;
  }
}