.product-card {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 1rem;
  text-align: center;
  background-color: white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 0;
  min-height: 360px;
}

.product-card:hover {
  transform: scale(1.01); /* Efecto de zoom al pasar el mouse */
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2); /* Sombra más intensa */
}

.product-image-container {
  width: 100%;
  height: 150px;
  overflow: hidden;
  border-radius: 8px;
  background: #eee;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
}

.product-image {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  display: block;
  background: #eee;
}

.product-name {
  font-size: 1.2rem;
  font-weight: 400;
  margin: 1rem 0 0.5rem 0;
  min-height: 48px; /* Para alinear títulos de diferente largo */
  display: flex;
  align-items: center;
  justify-content: center;
}

.product-category,
.product-price,
.product-stock {
  font-size: 0.9rem;
  color: #555;
  margin: 0.2rem 0;
}

.product-card-buttons {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 1rem;
}

.edit-button,
.delete-button {
  padding: 0.5rem 2rem;
  font-size: 0.9rem; /* Tamaño de texto legible */
  border: none;
  border-radius: 6px; /* Bordes redondeados */
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 0.5rem; /* Espaciado entre el ícono y el texto */
  transition: background-color 0.3s ease, transform 0.2s ease; /* Animación suave */
}

.edit-button {
  background-color: #0cb1a0; /* Verde para el botón de editar */
  color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra ligera */
}

.edit-button:hover {
  background-color: #099e8d; /* Verde más oscuro al pasar el mouse */
  transform: translateY(-2px); /* Efecto de elevación */
}

.delete-button {
  background-color: #e74c3c; /* Rojo para el botón de eliminar */
  color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra ligera */
}

.delete-button:hover {
  background-color: #c0392b; /* Rojo más oscuro al pasar el mouse */
  transform: translateY(-2px); /* Efecto de elevación */
}